<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../generator.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = "main">
        <diV>
            <img src = "img/logo.png"/>
            <form action="/rooms" method="get">
                <input hidden value="notnull" name="verify">
                <button class = "button-50" role ="button">Create Room</button>
              </form>
     
        </diV>



    </div>
    
</body>
</html>