

body,html{
width:100%;
margin: 0;
height: 100%;
padding:0;

font-size: 52px;
}
h1,h2{

    margin: 0;

}
.nav{
background: white;
margin: auto;
height: 80px;
display: flex;

top:0;
border:5px solid black;

  position: fixed;
  width:100%;

  z-index: 100;
}
.logo-holder{

height: 100%;
display: flex;
align-items: center;

margin-left: 50px;
width: 15%;

}
.nav img{

    width: 20vw;
    max-width: 150px;
}
.nav-title{

    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 40%;
  margin-left: 5%;



}
.title-items{
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 2.5vw;
    margin-left:10%;
    color: black !important;
    position: relative;
    text-decoration: none;
    padding: 0em;

}

.title-items::after{
  position: absolute;
  content: '';
  height:3px;
/* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
  bottom: -4px; 


 /****** 
 optional values below 
 ******/
  
  /* center - (optional) use with adjusting width   */
  margin: 0 auto;
left: 0;
  right: 0;
width: 50%;
background: #ffd230;

/* optional animation */
-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}


.title-items:hover::after{
  width: 90%;
  background: #1A4789;
}
.container{
    position: relative;


 
    width: 100%;
}
.container-top{
  margin-top: 80px;
}
.background-image{
    position: relative;
    width: 100%;
    z-index: 0;
}
.container-block-holder{
position: absolute;
top:0;
display: flex;
z-index: 2;
width: 100%;
height: 100%;


}
.first-block{
    margin-top: -100px;

    width: 55%;
    display: grid;
   align-items: center;
   justify-content: center;


}
.first-content{
position: relative;
    text-align: center;
}
.muscle{
  position: absolute;
  top:-50%;
  left:70%;
  
  max-width: 50%;

  transform: rotate(-30deg);

}
.first-content  .first-text{
color: white;
position: relative;
font-size:3vw;

font-family: 'Bebas Neue', cursive;


}
.first-content  .first-text img{


    }
.first-content  .second-text{
    color: white;
    font-size: 2.2vw;
    margin-left: 40%;
    font-family: 'Bebas Neue', cursive;
    
    
    }
    .first-content  .third-text{
   display: flex;
   flex-wrap: nowrap;
   font-family: 'Open Sans', sans-serif;
   margin-left: 25%;
   margin-top: 5%;
    }
    .first-content  .third-text div:first-child{
    
       background-color: #ffd230;
       color:black;
       border-radius:30px 0px 0px 0px;
       border-top:  3px solid black;
       border-left:  3px solid black;
       border-bottom: 3px solid black;
   
       
         }
         .first-content  .third-text div:first-child h1{
            padding: 10px;
            font-size:4vw;
              }
         .first-content  .third-text div:nth-child(2){
          background-color:#1A4789;
          border-radius:0px 0px 30px 0px;
          border-top:  3px solid black;
          border-right:  3px solid black;
          border-bottom: 3px solid black;
        
          color:white;
            
              }
              .first-content  .third-text div:nth-child(2) h1{
                padding: 10px;
                font-size:4vw;
                
                  }
.second-block{

    height: 100%;
    position: relative;
width: 45%;

}
.circle-holder{

   display: flex;

justify-content: end;
}
.white-circle{
    padding: 10%;
    width: 0.5vw;
margin-top: 5%;
margin-right: 5%;

    background: #ffd230;
    border-radius: 360px;
   
}

.image-holder{
   
    width: 90%;
    position: relative;
    display: flex;
margin-left: 1%;

}
.image-border{
        margin-top: 15%;
  
        width: 34vw;
        min-height: 50px;
        height: 18vw;
        
        display: flex;
        padding: 5px;
background-color: grey;
border-radius: 10px;
    border: 0.2em solid white;
}
.small-image{
  width: 100%;
  height: 100%;
    object-fit: cover contain;
    margin: auto;
}.click-holder{
    margin-top: 23%;
    margin-left: 5%;
    width: 6%;
    position: relative;
   height: 100%;

}
#triangle-up {
 
color: #891D1D;
transform: rotate(90deg);


}
#triangle-down {
 
  color: #891D1D;
  transform: rotate(90deg);


}
#numbers {
  

  color: white;
  text-align: center;
}
  #numbers{
      font-size: 4vw;
      font-family: 'Open Sans', sans-serif;

  }
  #triangle-down:hover,#triangle-up:hover{
   color: #ff0404;
    
    cursor: pointer;
  }
  

.simple-box{
    width: 110%;
  
    background-color: white;
    margin-left: -20%;
    margin-top: 5%;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-shadow: 0 8px 6px -6px white;
	   -moz-box-shadow: 0 8px 6px -6px white;
	        box-shadow: 0 10spx 6px -6px white;
          min-height: 100px;
  
      
}
#text{
    text-align:center;
    padding:2%;
  


font-size: 1.4vw;
}
#simple-title{
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-family: 'Bebas Neue', cursive;
    color:#891D1D;

}
.youtube{

    width: 100%;
}


.second-block-content{
    width: 100%;
   
    text-align: center;
    padding-bottom: 5%;
}
.about-me{
    position: relative;
    width: 100%;
    margin-top: 3%;
  
}
.about-me img{
   width: 30vw;
  
}
.about-me-flex{
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;


}
.photo-holder{
    width: 50%;

    display: grid;
    justify-items: center;
    align-items: center;
}
.photo{
    width: 70%;
   
    
  
  
    box-shadow:         3px 3px 5px 6px black; 
    text-align: right;
}
.desc-holder {

    padding-right: 5%;
    width: 50%;

  
}
.desc-holder div{
 height: 100%;
    font-size: 2vw;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(58, 57, 57));
    color: white;
    
    -webkit-box-shadow: 3px 3px 5px 6px black;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px black;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px black; 
}
.desc-holder h1{
    font-family: 'Bebas Neue', cursive;
    color:#891D1D;
    padding-top: 2%;
       font-size: 6vw;
   
   }
   .desc-holder p{
    font-family: 'Bebas Neue', cursive;
    color:white;
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
    font-size: 1.5vw;
  
       font-family: 'Open Sans', sans-serif;
   
   }
   .highlight{
    font-size: 2vw !important;
    text-align: left;
    padding-left: 5%;
   }

   .splide__slide img {
    width: 100%;
    height: auto;
  }
  .carosel{
      margin: auto;
      width: 70%;
      
  }
  .thumbnails {
    display: flex;
    margin: 1rem auto 0;
    padding: 0;
    justify-content: center;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    overflow: hidden;
    list-style: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  .splide__slide {
    opacity: 0.3;
  }
  
  .splide__slide.is-active {
    opacity: 1;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
  }
  .third-title{
      text-align: center;
      padding-top: 5%;
      padding-bottom: 2%;
  
  }
  .third-title h1{
  font-size: 3vw;
  font-family: 'Open Sans', sans-serif;
   color: black;

    padding-top: 1%;
    padding-bottom: 2%;
  }
  .third-title h1 b{

      color: #891D1D;
     
    }
  .third-title h2{
    font-size:5vw;   color: black;
    font-family: 'Bebas Neue', cursive;
  }
  .fourth-block-content{
  
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0),#5c1b1b);
    padding-bottom: 2%;
  }
  .fourth-title{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;

}

  .fourth-title h1{
    font-size: 3vw;
    font-family: 'Open Sans', sans-serif;
     color: white;
  
      padding-top: 1%;
      padding-bottom: 2%;
    }
    .fourth-title h1 b{
  
        color: #891D1D;
       
      }
    .fourth-title h2{
      font-size:5vw;   color: white;
      font-family: 'Bebas Neue', cursive;
    }
   
  .product-container{
    display: flex;
    flex-wrap:  wrap;

column-gap: 5%;
flex-direction: row;
    padding: 0%  5%  5%  5%;
    justify-content: center;
 
  
  }


  .product{
    position: relative;
    z-index: 2;
    min-width: 300px;
    width: 30%;
    max-width: 450px;
 
   margin-top: 3%;
   
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(58, 57, 57));
    color:white;
    border-radius: 10px  10px  10px  10px;
text-align: center;
padding-bottom: 3%;
-webkit-box-shadow: 0 10px 6px -6px black;
-moz-box-shadow: 0 10px 6px -6px black;
     box-shadow: 5px 4px 10px -2px black;

  }
  .product:hover{
  
    background-image: linear-gradient(to bottom right, #949191, rgb(0, 0, 0));

  }
  .product:hover > img{
    filter: brightness(100%);

  }
  .product img{
    position: relative;
    z-index: 1;
    width: 100%;
 
    border-radius: 10px  10px  0px  0px;

    filter: brightness(50%);
  
  }
  .product h2{
    width: 90%;

    margin: auto;
    margin-top: 10px;
    height: 50px;
  
    font-family: 'League Spartan', sans-serif;
    font-size: 0.6rem;
  }
  .product  .hr1{
    width: 70%;
  border-color: #891D1D;
  background-color: #891D1D;
  padding: 1px;
  border-radius: 5px;
   
  }
  .product  h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 2vw;
    color: #ff0404;
   
  }
  .product  p{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.25rem;
    color: white;
    font-weight: bold;
    padding: 1% 10% 1% 10%;
    text-align: justify;
    margin-bottom: 0;


  
  }



  .product  .hr2{
    width: 80%;
  border-color: white;
  background-color: white;
  padding: 1px;
  border-radius: 5px;
   
  }
  .product-desc{
    height: 200px;

  }
  .product button{


  }
  .product .icons{
    display: flex;
    justify-content: center;
    column-gap: 10%;
    
  }
  .fa-youtube{
    text-decoration: none !important;
    color: white;
  }
.large-image{
  height: 50vw !important ;
  width: 40vw !important ;

  margin: auto;
}
.splide__slide {
  text-align: center;
}
.large-thumbnail{
  height: 6vw !important ;
  width: 100% !important ;
}

@media (min-width:320px) and (max-width:900px)  { 
   /* smartphones, iPhone, portrait 480x320 phones */  

  
   .nav{
     border:0px;
     position: relative;

     display: block;
     height: auto;
  
   

   }.nav img{
     width: 200px;
    
   }
     .logo-holder{
      margin: 0;
        padding: 0.1em 0.1em 0.1em 0.1em;
  

    }
    .logo-holder{
      margin: 0;

    }
    .icon{

      position: absolute;
      font-size: 1em;
      top:2%;
      padding: 0.1em 0.1em 0.1em 0.1em;
      right: 0;
      color:#ffd230;
      margin-right: 2%;
    }
    .nav-title{
      all: unset;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      display: none;
    }
    .nav-title a{
   margin: 0;
background-color: black;
      display: block;
      width: 100%;
      padding: 1em 0em 1em 0em;
      color: white !important;
      font-size:1em;
    }.nav-title a::after{
      all: unset;
  
       }
       .background-image{
         position: absolute;
       }
       .container-top{
      margin-top: 0;

       }.container-block-holder{
          position: relative;
     
          flex-direction:column;
       }
       .first-block{
        margin-top: 7%;

        width: 100%;
        padding-bottom: 6%;

       }
     
       .first-content .first-text{
        font-size: 5vw;
     text-align: left;
     margin-left: 5%;
      }
      .muscle{

   
        top: -22%;
        left: 78%;
      
      
      }
      .circle-holder{
        display: none;
      }
      .first-content .second-text{
        font-size: 5vw;
        margin-left: 10%;
      }
      .first-content .third-text{
         width: 100%;
         margin-left: 5%;
       }
       .first-content .third-text div:first-child h1{ 
        font-size: 7vw;
      }
      .first-content .third-text div:nth-child(2) h1{ 
        font-size:7vw;
       }
       
       .second-block{
        position: relative;
        top:-5px;
          width: 100%;
          background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(58, 57, 57));
          padding: 1em 0em 1em 0em;

       }
       .image-holder{
        all:unset;
        display: block;
        height: 100%;
        
       }
       .youtube{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%;
       }
       .image-border {
        margin:auto;
    width:90%;
    min-height: auto;
 
    padding: 0px;

    border-radius: 3px;
    border: 5px solid white;
    position: relative;
     padding-bottom: 56.25%; 
     padding-top: 30px;
      height: 0; 
      overflow: hidden;
       
    }
    .click-holder {
    
 
      margin-top: 0%;
      margin-left: 0%;
      width: 100%;
      display: grid;

      position: relative;
      text-align: center;
      grid-template-columns: repeat(3, 1fr);

  }
  #triangle-up {
  padding-top: 7px;
color: #891D1D;
    font-size: 0.7em;
    transform: rotate(0deg);

}
#triangle-down {
  padding-top: 7px;
  color: #891D1D;
  font-size: 0.7em;
  transform: rotate(0deg);

}
#numbers {
  font-size: 0.7em;

  color: white;
  text-align: center;
}
.simple-box{

  width: 90%;
  background-color: white;

  margin-top: 0%;
  border-radius: 5px;

 
  margin: auto;

  min-height: auto;
}


#text {
  font-size:0.5em;

}

.about-me{
  margin-top: 0.5em;
}
.about-me img {
  width:70%;
}
.about-me-flex{
  display: block;
  text-align: center;

}
.photo-holder {
  width:100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
.photo {
  width: 70%;
  box-shadow: 1px 1px 1px 1px black;
  text-align: right;
}
.desc-holder {

  width:100%;

  margin-top: 5%;
  display: grid;
    justify-items: center;
    align-items: center;
}


.desc-holder div {

  
  width:90%;
  margin: auto;
  
}

.desc-holder h1 {
  font-family: 'Bebas Neue', cursive;
  color: #891D1D;
  padding-top: 2%;
  font-size: 6em;
}
.desc-holder p {

  font-size: 2em;
  
}
.highlight {
  font-size: 3em !important;
  text-align: left;
  padding-left: 5%;
}
.fourth-block-content{
  padding: 1em 0 1em 0;
}


.fourth-title h2{
  font-size: 1.5em;


}

.fourth-title h1{

  font-size:0.6em;
}

.product{

 width: 100%;
 padding-bottom: 1em;
 margin-top: 1em;
}
.third-title h2 {
  font-size: 1.5em;
}

.third-title h1 {
  font-size:0.5em;
}
.carosel {
  margin: auto;
  width: 100%;
}

.large-image {
  height:90vw !important;
  width:80vw !important;
  margin: auto;
}

.large-thumbnail {
  height: 10vw !important;
  width: 100% !important;
}


}
@media (min-width:901px)  { 


  .icon{

    display: none !important;
  }

}


@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

 
}
@media (min-width:641px)  { 
 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

 
 
}


@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }





@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }